/* .dark\:text-white\/80{
  background-color: #ef3925 !important;
}

.text-gray-400{
  color: white !important;
} */
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: #ef3925 !important;
}
